.header {
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 30px;
}

.menu {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.menu-item {
  margin-right: 10px;
}

.social-media {
  display: flex;
  align-items: center;
}

.social-media-icon {
  font-size: 20px;
  margin-left: 10px;
  text-decoration: none;
  color: #000000;
}
.burger-menu {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: #000000;
}
/* Media query for responsive layout */
@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .responsive-menu {
    position: absolute;
    top: 45px;
    right: 10px;
    width: 100px;
    padding: 20px;
    transition: right 0.3s ease;
    background-color: white;
    text-align: center;
    z-index: 2;
  }

  .social-media {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: -129%;
  }
}