.header {
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
}

.menu {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.menu-item {
  margin-right: 10px;
}

.social-media {
  display: flex;
  align-items: center;
}

.social-media-icon {
  font-size: 20px;
  margin-left: 10px;
}

.burger-menu {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: #000000;
}
  /* Media query for responsive layout */
  @media (max-width: 768px) {
    .menu {
      display: none;
    }
  
    .burger-menu {
      display: block;
    }
  
    .responsive-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .responsive-menu-item {
      margin-bottom: 10px;
    }
  }